# Data science Ecosystem

# in this notebook , data science summarized storing and transforming data, while providing data visualization with the aim of communicating ideas better and obtaining models that enable the construction ,dissmination monitoring and evalution of data and machine learning models.

# objectives:
* jupyter notebooks are used in data science to record experiments and projects.
* jupyter lab is compatible with many files and data science languages.
* there is different way to install and use jupyter notebooks.

# there is tybe of programing languages:
1. python
2. R
3. C++
4. julia

# some of the commonly used libraries used by data scientists in clude:
1. data sits
2. gg plots
3. GGally

# there is different of open source:
|tools|
|----|
|get|
|get hup|
|watson studio|

### Below are a few examples of evaluating arithmetic expressions in python :
1. 5+(3-2)
2. x>5
3. y<7
4. z=x+y

### this a simple arithmetic expression to multiply then add integers :
 2+(3*5)

In [2]:
2+(3*5)

17

# software code that converts 200 minute into hours:
# 60X=200
# x=200/60.

# author :
## lakshmi holla 
## niveditha pandith
# my name :
# eman hashim abdall